#mapSVG {
	transform: translateX(700px);
	position: absolute;
}

div {
	font-family: "TheBraveryLiteVer";
	font-size: 100px;
	position: absolute;
	margin-top: 0px;
}

p {
	position: absolute;
}

#byline {
/* 	font-size: 30px;
	padding-left: 20px; */
	font-size: 20px;
	font-style: italic;
	padding-left: 90px;
}
@font-face {
	font-family: "TheBraveryLiteVer";
	src: url("/The Bravery Lite Ver.otf");
}

/*.rangeCircles {
	position: absolute;
}*/

#slidecontainer {
    width: 100%; /* Width of the outside container */
    position: absolute;
    padding-left: 30px;
}

/* The slider itself */
.slider {
	padding-left: 20px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	padding-left: 20px;
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	padding-left: 20px;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: pink; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	padding-left: 20px;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: pink; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#filterInstructions {
	font-size: 30px;
	padding-left: 20px;
}

label {
	font-size: 20px;
}

#selectorContainer {
    width: 80%; /* Width of the outside container */
		height: 80px;
		border: 2px solid pink;
		padding: 25px;
		margin: 15px;
    position: absolute;
}

#selectorTitle {
	font-size: 30px;
	padding-left: 0px;
}

#TreeInfo {
	width: 200px; /* Width of the outside container */
	height: 300px;
	font-size: 15px;
}
